@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('Inter-Thin.woff2?v=3.12') format('woff2'),
    url('Inter-Thin.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('Inter-ThinItalic.woff2?v=3.12') format('woff2'),
    url('Inter-ThinItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('Inter-ExtraLight.woff2?v=3.12') format('woff2'),
    url('Inter-ExtraLight.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('Inter-ExtraLightItalic.woff2?v=3.12') format('woff2'),
    url('Inter-ExtraLightItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('Inter-Light.woff2?v=3.12') format('woff2'),
    url('Inter-Light.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('Inter-LightItalic.woff2?v=3.12') format('woff2'),
    url('Inter-LightItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Inter-Regular.woff2?v=3.12') format('woff2'),
    url('Inter-Regular.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('Inter-Italic.woff2?v=3.12') format('woff2'),
    url('Inter-Italic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Inter-Medium.woff2?v=3.12') format('woff2'),
    url('Inter-Medium.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('Inter-MediumItalic.woff2?v=3.12') format('woff2'),
    url('Inter-MediumItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('Inter-SemiBold.woff2?v=3.12') format('woff2'),
    url('Inter-SemiBold.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('Inter-SemiBoldItalic.woff2?v=3.12') format('woff2'),
    url('Inter-SemiBoldItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Inter-Bold.woff2?v=3.12') format('woff2'),
    url('Inter-Bold.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('Inter-BoldItalic.woff2?v=3.12') format('woff2'),
    url('Inter-BoldItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('Inter-ExtraBold.woff2?v=3.12') format('woff2'),
    url('Inter-ExtraBold.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('Inter-ExtraBoldItalic.woff2?v=3.12') format('woff2'),
    url('Inter-ExtraBoldItalic.woff?v=3.12') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('Inter-Black.woff2?v=3.12') format('woff2'),
    url('Inter-Black.woff?v=3.12') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('Inter-BlackItalic.woff2?v=3.12') format('woff2'),
    url('Inter-BlackItalic.woff?v=3.12') format('woff');
}


@media screen and (max-width: 567px) {

.flex-shrink-0.block.relative.min-h-0 {
flex-shrink: 0;
display: none;
}

.px-4.sticky.top-0.z-10 {
display: none;
padding-right: 1rem;
}
  #headlessui-radiogroup-55 button.px-2 {
--tw-text-opacity: 1;
width: 100%;
    padding-top: 20px !important;
padding-bottom: 20px !important;
    font-size: 20px;
}
	.w-7 {
    width: 35px;
}

.h-7 {
    height: 35px;
}
	[datetime].text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(124 124 124 / var(--tw-text-opacity));
    font-size: 12px;
		font-weight: 300;
}
	[href^="/g/people"].font-medium {
    font-weight: 400;
    font-size: 16px;
}
header
  {
    display: none;
  }
	[slug="posts"] .mx-auto .items-center.flex {
        align-items: center;
        flex-direction: column;
        padding-top: 0px;
        background-image: none;
        background: #80808014;
        padding: 8px;
    }

.text-gray-600 {
--tw-text-opacity: 1;
color: #333333!important;
font-size: 18px;
}

slug="posts"] .fixed.bottom-12.mb-px.mt-2.w-full.max-w-3xl.bg-white.py-4.pr-12 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 0 !important;
    margin-bottom: 35px;
    background: #ffffffc7;
    backdrop-filter: blur(8px);
}

.main-tabs-container {
padding: 0 0rem 1rem!important;
}

header
{
z-index:99;
	background-color: white;
	position: fixed;
width: 100vw;
top: 0;
display:none !important;
}
[alt^="Profile Photo"].rounded-full {
border-radius: 9999px;
	width: 25vw !important;
height: 25vw !important;
	        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
        border: 1px double #8bce45;
}
	[role="radiogroup"].inline-block {
    display: inline-block;
    width: calc(100% - 40px);
    margin: 0 20px;
}
	.flex.items-start.justify-between.space-x-1 {
    align-items: flex-start;
    display: none;
}
.mx-auto .items-center.flex {
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        background-image: linear-gradient(180deg, #f6d365 0%, #fdbc85 100%);
    }
	[slug="posts"] .items-center.flex {
    align-items: start !important;
    flex-direction: unset !important;
    margin-top: 0 !important;
}
.text-base.overflow-auto {
overflow: auto;

min-height: 100vh;
}
	.mt-7.pb-16 {
    margin-top: 1.75rem;
    display: none;
}
	.mt-6.mb-4 {
    margin-top: 1.5rem;
    display: none;
}
	button.ml-auto.inline-flex.items-center.justify-center.gap-2.transition-colors {
    align-items: center;
    position: fixed;
    top: 25px;
    right: 20px;
}
	.ml-6 h2.mt-2 {
    margin-left: 0;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.w-12 {
width: 20vw;
height: 20vw;
margin: 10px;
}
.overflow-auto {
overflow: auto;
padding: 0px;
	margin-top:0px;
background-color: white;
}
ul li button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

nav.amazing-tabs {
  background-color: var(--white);
  border-radius: 2.5rem;
  user-select: none;
  padding-top: 1rem;
bottom: 0;
position:absolute;
	width:100vw;
}


.main-tabs-container {
  padding: 0 0rem 1rem 1rem;
}

.main-tabs-wrapper {
  position: relative;
}

ul.main-tabs,
ul.filter-tabs {
  list-style-type: none;
  display: flex;
}
ul.main-tabs li {
   display: flex;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    z-index: 1;
    justify-content: center;
    width: calc(1/6 * 100vw);
    padding-right: 10px;
}



.round-button {
height: calc((1/18 * 100vw) + 10px);
width: calc(1/18 * 100vw);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-900);
  transition: color, filter, scale 0.2s ease-in-out;

filter: saturate(0) drop-shadow(0px 0px 0px #ffffff);
color: #000000;
}

.round-button:hover,
.round-button.active {
	scale: 1.2!important;
	transition: color, filter, scale 0.2s ease-in-out;
filter: saturate(1) drop-shadow(0px 3px 2px #555555aa);
  color: #000000;
}

.round-button svg {
  pointer-events: none;
  height: 2.8rem;
  width: 2.8rem;
  transform: translate(0, 0);
}

.main-slider {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateX(var(--translate-main-slider));
	padding-top: 0px;
}

.main-slider-circle
{
 height: 2px;
width: calc((1 / 6)* 100vw);
border-radius: 44px;
transition: background-color .4s ease-in-out;
background-color: #8bce45;
margin-top: 0px;
	font-size:0px !important;
border-top-left-radius: 0;
border-top-right-radius: 0;

}
.min-h-\[3rem\].overflow-hidden.bg-gray-100 {
    min-height: 3rem;
    display: none;
}

.animate-jello {
  animation: jello-horizontal 0.9s both;
}
	.prose-sm :where(.prose-sm>:last-child):not(:where([class~=not-prose] *)) {
    margin-bottom: 0;
    margin: 20px 20px;
    font-size: 16px;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(1.15, 0.85, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes page-slide {
  0% {
      transform: translateX(50%);
	  opacity:0;
  }
  100% {
    transform: translateX(0%);
	  opacity:1;
  }
}





  
}
